<h1>Your Blogposts.....</h1>
<br>
<br>
<br>


{{#each blogposts as |blogpost|}}
<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1"><a href="/blogposts/{{blogpost.id}}">{{blogpost.title}}</a></h2>
    {{!-- <p class="blog-post-meta">{{blogpost.created_by}} by: {{user.name}}</p> --}}
</article>
<hr>
{{/each}}