{{#each blogposts as |blogpost|}}
        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1"><a href="/blogpost/:${}">{{blogpost.title}}</a></h2>
            <p class="blog-post-meta">{{blogpost.created_by}} by: {{user.name}}</p>

            <p>{{blogpost.text}}</p>
        </article>
        <hr>
{{/each}}